@import url(./fonts.css);
*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Font */
/* Color */
/* Main Style */
html {
  font-family: "Cabin", sans-serif;
  font-size: 10px;
  color: #515151;
  scroll-behavior: smooth;
}

section {
  padding: 3.9rem 0;
}

img {
  width: 100%;
  max-width: 100%;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.6rem;
}

.container {
  width: 100%;
  max-width: 122.5rem;
  margin: 0 auto;
  padding: 0 2.4rem;
}

/* Header Style */
header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
}
header .nav {
  height: 7.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .nav .menu-toggle {
  color: #fff;
  font-size: 2.2rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2.5rem;
  cursor: pointer;
  z-index: 1500;
}
header .nav .menu-toggle .fa-times {
  display: none;
}
header .nav .nav-list {
  list-style: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 45%;
  height: 100vh;
  background: #252525;
  padding: 4.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 1250;
  transform: translateX(-100%);
  transition: 0.5s;
}
header .nav .nav-list .nav-item {
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}
header .nav .nav-list .nav-item .nav-link {
  display: block;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.6rem;
  letter-spacing: 2px;
  margin-right: -2px;
  transition: color 0.5s;
}
header .nav .nav-list .nav-item .nav-link:hover {
  color: #c59d5f;
}
header .nav:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  z-index: 1000;
  transform: scale(0);
  transform: 0.5s;
}

.open .fa-times {
  display: block !important;
}
.open .fa-bars {
  display: none !important;
}
.open .nav-list {
  transform: translateX(0) !important;
}

.open .nav:before {
  opacity: 1 !important;
  transform: scale(1) !important;
}

/* Hero Style */
.hero .separator .line-left:before, .hero .separator .line-right:before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: 0.6rem solid transparent;
}

.culinary-delight .sub-headline, .perfect-blend .sub-headline, .discover-our-menu .sub-headline, .tasteful-recipes .sub-headline, .discover-our-story .sub-headline, .hero .sub-headline {
  font-size: 8.5rem;
  font-family: "Herr Von Muellerhoff", cursive;
  color: #c59d5f;
  font-weight: 100;
  line-height: 0.4;
  letter-spacing: 2px;
}
.culinary-delight .sub-headline .first-letter, .perfect-blend .sub-headline .first-letter, .discover-our-menu .sub-headline .first-letter, .tasteful-recipes .sub-headline .first-letter, .discover-our-story .sub-headline .first-letter, .hero .sub-headline .first-letter {
  text-transform: uppercase;
  font-size: 10.3rem;
}

.culinary-delight .headline, .perfect-blend .headline, .discover-our-menu .headline, .tasteful-recipes .headline, .discover-our-story .global-headline .headline-dark, .hero .headline {
  color: #fff;
  font-size: 3.7rem;
  font-family: "Source Sans Pro", sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.5rem;
  margin-right: -0.5rem;
}

footer .footer-content .asterisk, .culinary-delight .asterisk, .discover-our-story .global-headline .asterisk, .hero .separator .asterisk {
  font-size: 1.2rem;
  color: #c59d5f;
  margin: 0 1.6rem;
}

.discover-our-menu .btn, .discover-our-story .restaurant-info .restaurant-description .btn, .hero .btn {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-right: -2px;
}

.hero {
  width: 100%;
  height: 100vh;
  background: url("../img/hero.jpg") center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  text-align: center;
}
.hero .separator {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero .separator .line {
  width: 100%;
  max-width: 8.4rem;
  height: 0.25rem;
  background-color: #fff;
  position: relative;
}
.hero .separator .line-right:before {
  border-right-color: #fff;
  right: 0;
}
.hero .separator .line-left:before {
  border-left-color: #fff;
  left: 0;
}
.hero .headline-description h5 {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 100;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
  letter-spacing: 3px;
  margin-right: -3px;
}
.hero .cta-btn {
  font-size: 1.1rem;
  background-color: #fff;
  padding: 0.9rem 1.8rem;
  color: #515151;
  border-radius: 0.4rem;
  transition: background-color 0.5s;
}
.hero .cta-btn:hover, .hero .cta-btn:focus {
  color: #fff;
  background-color: #c59d5f;
}

/* Discover Story */
.culinary-delight .body-btn, .discover-our-menu .body-btn, .discover-our-story .restaurant-info .restaurant-description .body-btn {
  font-size: 1.5rem;
  color: #c59d5f;
  position: relative;
  transition: color 0.5s;
}
.culinary-delight .body-btn:before, .discover-our-menu .body-btn:before, .discover-our-story .restaurant-info .restaurant-description .body-btn:before {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: -3px;
  background-color: #c59d5f;
  transition: 0.5s;
}
.culinary-delight .body-btn:hover, .discover-our-menu .body-btn:hover, .discover-our-story .restaurant-info .restaurant-description .body-btn:hover, .culinary-delight .body-btn:focus, .discover-our-menu .body-btn:focus, .discover-our-story .restaurant-info .restaurant-description .body-btn:focus {
  color: #252525;
}
.culinary-delight .body-btn:hover:before, .discover-our-menu .body-btn:hover:before, .discover-our-story .restaurant-info .restaurant-description .body-btn:hover:before, .culinary-delight .body-btn:focus:before, .discover-our-menu .body-btn:focus:before, .discover-our-story .restaurant-info .restaurant-description .body-btn:focus:before {
  color: #252525 !important;
}

.discover-our-story .sub-headline {
  letter-spacing: -1px;
  line-height: 0.42;
}
.discover-our-story .global-headline {
  text-align: center;
  margin-top: 3.9rem;
}
.discover-our-story .global-headline .asterisk {
  color: #515151;
  margin: 2.4rem 0;
}
.discover-our-story .global-headline .headline-dark {
  color: black;
}
.discover-our-story .restaurant-info {
  text-align: center;
}
.discover-our-story .restaurant-info .restaurant-description {
  margin-bottom: 3rem;
}
.discover-our-story .restaurant-info .restaurant-description p {
  line-height: 1.6;
  margin-bottom: 2.4rem;
}
/* Tasteful */
.tasteful-recipes {
  background: url("../img/tasteful-recipes.jpg") no-repeat center;
  background-size: cover;
}
.between {
  min-height: 65vh;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
}

/* Discover Menu */
.culinary-delight .image-group, .discover-our-menu .image-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
}

.discover-our-menu {
  text-align: center;
}
.discover-our-menu .sub-headline {
  letter-spacing: -1px;
  line-height: 0.42;
}
.discover-our-menu .headline {
  color: #252525;
}
.discover-our-menu .global-headline {
  margin-top: 7.9rem;
}
.discover-our-menu p {
  margin-bottom: 2.4rem;
}
/* The perfect blend */
.perfect-blend {
  background: url("../img/perfect-blend.jpg") center no-repeat;
  background-size: cover;
  text-align: center;
}
.perfect-blend .sub-headline {
  letter-spacing: -1px;
  line-height: 0.42;
}
.perfect-blend .global-headline {
  margin-top: 7.9rem;
}

/* Culinary-Delight */
.culinary-delight {
  text-align: center;
}
.culinary-delight .global-headline {
  margin-top: 3.9rem;
}
.culinary-delight .sub-headline {
  letter-spacing: -1px;
  line-height: 0.42;
}
.culinary-delight .headline {
  color: #252525;
}
.culinary-delight .asterisk {
  color: #515151;
  margin: 2.4rem 0;
}
.culinary-delight .restaurant-description {
  margin-bottom: 3.9rem;
}
.culinary-delight .restaurant-description p {
  margin-bottom: 2.4rem;
}
/* Footer */
footer {
  padding: 7.9rem !important;
  background-color: #121212;
  color: #fff;
  text-align: center;
  position: relative;
}
footer .back-to-top {
  width: 7rem;
  height: 7rem;
  background-color: #121212;
  position: absolute;
  top: -3rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
}
footer .back-to-top i {
  display: block;
  color: #fff;
  font-size: 2rem;
  padding: 2rem;
}
footer .footer-content .asterisk {
  margin: 2.4rem 0;
}
footer .footer-content h4 {
  font-size: 1.9rem;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 3px;
  margin-bottom: 3rem;
}
footer .footer-content .footer-content-about {
  margin-bottom: 5.4rem;
}
footer .footer-content .footer-content-about p {
  line-height: 2;
}
footer .footer-content .social-icon {
  list-style: none;
  margin-bottom: 5.4rem;
  display: flex;
  justify-content: center;
}
footer .footer-content .social-icon i {
  font-size: 2rem;
  color: #fff;
  padding: 0.8rem 2rem;
  opacity: 0.5;
  transition: color 0.5s;
}
footer .footer-content .social-icon i:hover {
  color: #c59d5f;
}
footer .newsletter-from {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}
footer .newsletter-from .newsletter-input {
  width: 100%;
  max-width: 25rem;
  padding: 1rem;
  border-radius: 0.4rem;
}
footer .newsletter-from .newsletter-btn {
  background-color: transparent;
  border: none;
  color: #252525;
  font-size: 1.6rem;
  padding: 1px 0.6rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 10.5rem;
  cursor: pointer;
}

/* Media queries */
@media (min-width: 900px) {
  section {
    padding: 7.9rem;
  }

  .menu-toggle {
    display: none;
  }

  header .nav {
    justify-content: space-between !important;
  }
  header .nav .nav-list {
    position: initial;
    width: initial;
    height: initial;
    background-color: transparent;
    padding: 0;
    justify-content: initial;
    flex-direction: row;
    transform: initial;
  }
  header .nav .nav-list .nav-item {
    margin: 0 2.4rem;
    border: none;
  }
  header .nav .nav-list .nav-item .nav-link {
    font-size: 1.3rem;
  }

  .active {
    position: relative;
  }
  .active:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    left: 0;
    bottom: -3px;
  }

  .discover-our-story .restaurant-info {
    display: flex;
    align-items: center;
  }
  .discover-our-story .restaurant-info > div {
    flex: 1;
  }
  .discover-our-story .restaurant-info .padding-right {
    padding-right: 7rem;
  }

  footer .footer-content {
    max-width: 77.5rem !important;
    margin: auto !important;
  }
  footer .footer-content .footer-content-about {
    max-width: 51.3rem;
    margin: 0 auto 5.4rem;
  }
  footer .footer-content .footer-content-divider {
    display: flex;
    justify-content: space-between;
  }
  footer .footer-content .footer-content-divider .social-media, footer .footer-content .footer-content-divider .newsletter-container {
    width: 100%;
    max-width: 27.3rem;
    margin: 0 1rem;
  }
}
@media (max-width: 576px) {
  header .nav .nav-list {
    transform: translateX(-150%);
    width: 57%;
  }

  footer .footer-content .footer-content-divider .social-media {
    width: 100%;
  }
  footer .footer-content .newsletter-from .newsletter-btn {
    margin-left: 9rem;
  }
}
@media (max-width: 320px) {
  footer .footer-content .newsletter-from .newsletter-btn {
    margin-left: 6rem;
  }
  footer .footer-content .newsletter-from ::placeholder {
    font-size: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
